<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="BoiBazar.com">
	<!-- -->

	<test name="IslamicBookCategory">
		<classes>
			<class name="Tests.homePageTest" />
		</classes>
	</test>
	
	<test name="bookCategoriesPage">
		<classes>
			<class name="Tests.bookCategoriesPageTest" />
		</classes>
	</test>
	
	
</suite>